@import "tailwindcss";
@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    @layer utilities {
    /* Hide scrollbar for webkit browsers */
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .hide-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}
}

@theme {
    --color-primary: #0EA5E9;
    --color-secondary: #38BDF8;
    --color-accent: #EC4899;
}